<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-group d-block d-md-flex row">
          <div class="card col-md-7 p-4 mb-0">
            <div class="card-body">
              <h1>Login</h1>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <p class="text-medium-emphasis">Sign In to your account</p>
                
                <%= render "users/shared/flash_error_messages", resource: resource %>
                <div class="input-group mb-3"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="/coreui/icons/sprites/free.svg#cil-user"></use>
                    </svg></span>
                  <%= f.email_field :email, class: 'form-control', placeholder: "Email", autofocus: true %>
                </div>
                <div class="input-group mb-4"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="/coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                    </svg></span>
                  <%= f.password_field :password, class: 'form-control', placeholder: "password", autofocus: false %>
                </div>

                <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-primary px-4" type="submit">Login</button>
                  </div>
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <div class="col-6 text-end">
                      <%= link_to new_password_path(resource_name) do %>
                        <button class="btn btn-link px-0" type="button">Forgot password?</button>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="card col-md-5 text-white bg-primary py-5">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to new_registration_path(resource_name) do %>
                    <button class="btn btn-lg btn-outline-light mt-3" type="button">Register Now!</button>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "users/shared/links" %>
