<!DOCTYPE html>
<html>
  <head>
    <title>RailstartCoreui Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application.scss' %>
  </head>

  <body>
  <%= render "admin/common/sidebar" %>
  <div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <%= render 'admin/common/header' %>
      <div class="body flex-grow-1 px-3">
        <%= yield %>
      </div>
      <%= render "admin/common/footer" %>
    </div>


  </body>
</html>
