<!DOCTYPE html>
<html>
  <head>
    <title>RailstartCoreui</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application.scss' %>    
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex text-red-400">
      Application
      <%= yield %>
    </main>
  </body>
</html>
