<%#= render "users/shared/links" %>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4 mx-4">
          <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-medium-emphasis">Create your account</p>
            <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>
              <div class="input-group mb-3"><span class="input-group-text">
                  <svg class="icon">
                    <use xlink:href="/coreui/icons/sprites/free.svg#cil-envelope-open"></use>
                  </svg></span>
                <%= f.email_field :email,
                              required: true,
                              autofocus: true,
                              placeholder: 'Email',
                              class: 'form-control'
                              %>
              </div>
              <div class="input-group mb-3"><span class="input-group-text">
                  <svg class="icon">
                    <use xlink:href="/coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                  </svg></span>
                <%= f.password_field :password,
                              required: true,
                              autofocus: true,
                              placeholder: 'Password',
                              class: 'form-control'
                            %>
              </div>
              <div class="input-group mb-4"><span class="input-group-text">
                  <svg class="icon">
                    <use xlink:href="/coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                  </svg></span>
                <%= f.password_field :password_confirmation,
                              required: true,
                              placeholder: 'Password',
                              class: 'form-control'
                            %>
              </div>
              <button class="btn btn-block btn-success" type="submit">
                <span class="text-white">Create Account</span>
              </button>

              <div class="float-end">
              <%- if controller_name != 'sessions' %>
                <%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-outline-primary float-end' %><br />
              <% end %>
              <%- if devise_mapping.omniauthable? %>
                <%- resource_class.omniauth_providers.each do |provider| %>
                  <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post, class: 'float-end mt-1' %><br />
                <% end %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
